name: 'Applesoft BASIC'
scopeName: 'applesoft'
type: 'tree-sitter'
parser: 'tree-sitter-applesoft'
fileTypes: ['bas']
firstlineRegex: '^[0-9]* +[A-Z]'

scopes:
  'linenum': 'keyword.control.directive'
  'realvar': 'variable'
  'intvar': 'variable'
  'svar': 'variable'
  'real_scalar': 'variable'
  'int_scalar': 'variable'

  'string': 'string.quoted.double'
  'integer': 'constant.numeric.decimal'
  'real': 'constant.numeric.decimal'
  'literal': 'constant.other'

  'plus_tok': 'keyword.operator'
  'minus_tok': 'keyword.operator'
  'times_tok': 'keyword.operator'
  'div_tok': 'keyword.operator'
  'pow_tok': 'keyword.operator'
  'gtr_tok': 'keyword.operator'
  'eq_tok': 'keyword.operator'
  'less_tok': 'keyword.operator'
  'and_tok': 'keyword.operator'
  'or_tok': 'keyword.operator'

  'end_tok': 'keyword.control'
  'for_tok': 'keyword.control'
  'next_tok': 'keyword.control'
  'data_tok': 'keyword.control'
  'input_tok': 'keyword.control'
  'del_tok': 'keyword.control'
  'dim_tok': 'keyword.control'
  'read_tok': 'keyword.control'
  'gr_tok': 'keyword.control'
  'text_tok': 'keyword.control'
  'prn_tok': 'keyword.control'
  'inn_tok': 'keyword.control'
  'call_tok': 'keyword.control'
  'plot_tok': 'keyword.control'
  'hlin_tok': 'keyword.control'
  'vlin_tok': 'keyword.control'
  'hgr2_tok': 'keyword.control'
  'hgr_tok': 'keyword.control'
  'hcoloreq_tok': 'keyword.control'
  'hplot_tok': 'keyword.control'
  'draw_tok': 'keyword.control'
  'xdraw_tok': 'keyword.control'
  'htab_tok': 'keyword.control'
  'home_tok': 'keyword.control'
  'roteq_tok': 'keyword.control'
  'scaleeq_tok': 'keyword.control'
  'shload_tok': 'keyword.control'
  'trace_tok': 'keyword.control'
  'notrace_tok': 'keyword.control'
  'normal_tok': 'keyword.control'
  'inverse_tok': 'keyword.control'
  'flash_tok': 'keyword.control'
  'coloreq_tok': 'keyword.control'
  'pop_tok': 'keyword.control'
  'vtab_tok': 'keyword.control'
  'himem_tok': 'keyword.control'
  'lomem_tok': 'keyword.control'
  'onerr_tok': 'keyword.control'
  'resume_tok': 'keyword.control'
  'recall_tok': 'keyword.control'
  'store_tok': 'keyword.control'
  'speedeq_tok': 'keyword.control'
  'let_tok': 'keyword.control'
  'goto_tok': 'keyword.control'
  'run_tok': 'keyword.control'
  'if_tok': 'keyword.control'
  'restore_tok': 'keyword.control'
  'amp_tok': 'keyword.control'
  'gosub_tok': 'keyword.control'
  'return_tok': 'keyword.control'
  'rem_tok': 'keyword.control'
  'stop_tok': 'keyword.control'
  'on_tok': 'keyword.control'
  'wait_tok': 'keyword.control'
  'load_tok': 'keyword.control'
  'save_tok': 'keyword.control'
  'def_tok': 'keyword.control'
  'poke_tok': 'keyword.control'
  'print_tok': 'keyword.control'
  'cont_tok': 'keyword.control'
  'list_tok': 'keyword.control'
  'clear_tok': 'keyword.control'
  'get_tok': 'keyword.control'
  'new_tok': 'keyword.control'
  'tabp_tok': 'keyword.control'
  'to_tok': 'keyword.control'
  'fn_tok': 'keyword.control'
  'spcp_tok': 'keyword.control'
  'then_tok': 'keyword.control'
  'at_tok': 'keyword.control'
  'not_tok': 'keyword.control'
  'step_tok': 'keyword.control'
  'sgn_tok': 'keyword.control'
  'int_tok': 'keyword.control'
  'abs_tok': 'keyword.control'
  'usr_tok': 'keyword.control'
  'fre_tok': 'keyword.control'
  'scrnp_tok': 'keyword.control'
  'pdl_tok': 'keyword.control'
  'pos_tok': 'keyword.control'
  'sqr_tok': 'keyword.control'
  'rnd_tok': 'keyword.control'
  'log_tok': 'keyword.control'
  'exp_tok': 'keyword.control'
  'cos_tok': 'keyword.control'
  'sin_tok': 'keyword.control'
  'tan_tok': 'keyword.control'
  'atn_tok': 'keyword.control'
  'peek_tok': 'keyword.control'
  'len_tok': 'keyword.control'
  'str_tok': 'keyword.control'
  'val_tok': 'keyword.control'
  'asc_tok': 'keyword.control'
  'chr_tok': 'keyword.control'
  'left_tok': 'keyword.control'
  'right_tok': 'keyword.control'
  'mid_tok': 'keyword.control'
